APP_JWT_SECRET=1234mattbectinighttrjrejrhhhhgg2g64675438384hdshsyeyetrthhsg8283749hhs
APP_JWT_EXPIRATION=86400000
DB_URL=jdbc:postgresql://ep-nameless-term-abecstd9-pooler.eu-west-2.aws.neon.tech/restaurant-ordering-system?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_AT74JFOUNcqr
PAYSTACK_SECRET_KEY=sk_test_ced8d19a12b0cca671f50b0c613403d5da3984a3
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_CALLBACK_URL=http://localhost:3000/checkout/callback
PAYSTACK_ENABLED=false

